/* メインコンテント */
.main_content{
    left: -10px;
    top: 35px;
    width: calc(100vw + 5px);
    position: absolute;
}
.main_content.active{
    left: -10px;
    top: 0px;
    /* width: calc(100vw - 300px); */
}
/* テキスト */
.text_content{
    color: #403d61;
    padding-left: 15px;
}
#caption{
    font-weight: 100;
    font-family: 'Noto Sans JP', sans-serif;
    color: #666;
    font-size: 15px;
}
/* 本見出し */
.main_content .text_content .top_title_text{
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 10px;
    z-index: 0;
    transition: all 0.4s ease;
    letter-spacing: 5px;
}
/* 見出し */
.main_content .text_content .page_title{
    width: calc(100% - 20px);
}
.main_content .text_content .page_title .title_text{
    font-size: 25px;
    font-weight: 100;
    transition: all 0.4s ease;
    border-bottom: solid #18a6;
    border-left: solid #1df4;
    color: #18a;
    padding-left: 6px;
    letter-spacing: 1px;
}
.main_content .text_content .page_title .caption_text{
    font-size: 15px;
    font-weight: 100;
    padding-left: 10px;
    transition: all 0.4s ease;
}
.main_content .text_content .caption_text{
    font-size: 13px;
    transition: all 0.4s ease;
}
.main_content .text{
    font-size: 14px;
    transition: all 0.4s ease;
    padding-left: 5px;
    color: #000;
    font-weight: 100;
}
/* 日本語 */
.main_content .jp_text{
    font-size: 13px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    transition: all 0.4s ease;
}
.main_content .jp_text_400{
    font-size: 13px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    transition: all 0.4s ease;
}
.main_content .jp_text_900{
    font-size: 13px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    transition: all 0.4s ease;
}
.main_content .jp_text_red{
    font-size: 13px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    color: #c92121;
    transition: all 0.4s ease;
}
.main_content .jp_text_orange{
    font-size: 13px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    color: #d2672e;
    transition: all 0.4s ease;
}

/* 表示回数カウンター */
.main_content .counter_content{
    position: relative;
    text-align: center;
    width: 100%;
}
.main_content .counter_view{
    position: relative;
    color: #fff;
    background-color: #39055e;
    padding: 10px 0;
    text-align: left;
    padding-left: 20px;
    z-index: 0;
    font-size: 15px;
}
.counter_view #counter{
    color: #e9d773;
}

/* 記事 */
.article{
    width: 100%;
    transition: all 0.4s ease;
}
.article .title{
    margin: 40px 0 10px 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    padding: 5px 10px;
    border-left: solid #e38016 5px;
    box-shadow: 0 5px 10px #00000040;
    font-size: 20px;
    letter-spacing: 2px;
    color: #000;
    transition: all 0.4s ease;
}
.article .content{
    margin-left: 15px;
}
.article .link_content{
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    letter-spacing: 1px;
}
.article .index_content{
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    letter-spacing: 1px;
}
.article a{
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    transition: all 0.4s ease;
    color: #50a0a0;
}
.article .link{
    transition: all 0.4s ease;
}
.article .link a:hover{
    color: #f05050;
    text-shadow: 0 5px 10px #00000060;
}
.article .index_link{
    line-height: 30px;
    transition: all 0.4s ease;
}
.article .index_link a:hover{
    padding-left: 2px;
    color: #f05050;
    text-shadow: 0 5px 10px #00000060;
}
.article .article_caption{
    font-size: 12px;
    color: #555;
}

/* window */
.window{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    width: calc(100% - 30px);
    box-shadow: 0 5px 10px #00000060;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.article .window{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    width: calc(100% - 10px);
    box-shadow: 0 5px 10px #00000060;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.window .window_btn{
    position: absolute;
    width: 100%;
}
.window .window_btn .red{
    position: absolute;
    background-color: #f44;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 5px;
    top: 5px;
    transition: all 0.4s ease;
}
.window .window_btn .yellow{
    position: absolute;
    background-color: #fc2;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 20px;
    top: 5px;
    transition: all 0.4s ease;
}
.window .window_btn .green{
    position: absolute;
    background-color: #4d8;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 35px;
    top: 5px;
    transition: all 0.4s ease;
}
.window .window_title{
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    border-bottom: solid 1px #aaa;
    transition: all 0.4s ease;
    font-size: 12px;
}
.window .window_content{
    position: relative;
    background-color: #eee;
    border-radius: 12px;
}
.window .window_content_buf{
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: #eee;
    z-index: -1;
}
.window .window_content .window_text{
    color: #000;
    padding: 6px;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.4s ease;
}

/* code window */
.code_window{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    width: calc(100% - 30px);
    box-shadow: 0 5px 10px #00000060;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.article .code_window{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    width: calc(100% - 10px);
    box-shadow: 0 5px 10px #00000060;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.code_window .window_btn{
    position: absolute;
    width: 100%;
}
.code_window .window_btn .red{
    position: absolute;
    background-color: #f44;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 5px;
    top: 5px;
    transition: all 0.4s ease;
}
.code_window .window_btn .yellow{
    position: absolute;
    background-color: #fc2;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 20px;
    top: 5px;
    transition: all 0.4s ease;
}
.code_window .window_btn .green{
    position: absolute;
    background-color: #4d8;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 35px;
    top: 5px;
    transition: all 0.4s ease;
}
.code_window .window_btn .copy_btn{
    position: absolute;
    background: #eff;
    border: 1px solid #add;
    width: 60px;
    height: 15px;
    border-radius: 4px;
    left: calc(100% - 95px);
    top: 1px;
    font-size: 11px;
    transition: all 0.4s ease;
    box-shadow: 0 5px 10px #00f0f0f0;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    cursor: hand;
}
.code_window .window_btn .copy_btn:hover{
    background: #fef;
    border: 1px solid #dad;
    box-shadow: 0 5px 10px #f000f0f0;
}
.code_window .window_btn .copied{
    position: absolute;
    background: #fcda;
    width: 60px;
    height: 15px;
    border-radius: 4px;
    left: calc(100% - 95px);
    top: 1px;
    font-size: 11px;
    transition: all 0.4s ease;
    box-shadow: 0 5px 10px #00000040;
    text-align: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
}
.code_window .window_btn .copied.active{
    opacity: 1;
    top: -20px;
}
.code_window .window_title{
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    border-bottom: solid 1px #aaa;
    transition: all 0.4s ease;
    font-size: 12px;
}
.code_window .window_content{
    position: relative;
    background-color: #212;
    border-radius: 12px;
}
.code_window .window_content_buf{
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: #212;
    z-index: -1;
}
.code_window .window_content .window_text{
    color: #fff;
    padding: 6px;
    font-size: 12px;
    line-height: 18px;
    transition: all 0.4s ease;
}

/* 折り畳み code window */
.code_window_details{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    width: calc(100% - 30px);
    box-shadow: 0 5px 10px #00000060;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.article .code_window_details{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    width: calc(100% - 10px);
    box-shadow: 0 5px 10px #00000060;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.code_window_details .window_btn{
    position: absolute;
    width: 100%;
}
.code_window_details .window_btn .red{
    position: absolute;
    background-color: #f44;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 5px;
    top: 5px;
    transition: all 0.4s ease;
}
.code_window_details .window_btn .yellow{
    position: absolute;
    background-color: #fc2;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 20px;
    top: 5px;
    transition: all 0.4s ease;
}
.code_window_details .window_btn .green{
    position: absolute;
    background-color: #4d8;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 35px;
    top: 5px;
    transition: all 0.4s ease;
}
.code_window_details .window_btn .copy_btn{
    position: absolute;
    background: #eff;
    border: 1px solid #add;
    width: 60px;
    height: 15px;
    border-radius: 4px;
    left: calc(100% - 95px);
    top: 1px;
    font-size: 11px;
    transition: all 0.4s ease;
    box-shadow: 0 5px 10px #00f0f0f0;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    cursor: hand;
}
.code_window_details .window_btn .copy_btn:hover{
    background: #fef;
    border: 1px solid #dad;
    box-shadow: 0 5px 10px #f000f0f0;
}
.code_window_details .window_btn .copied{
    position: absolute;
    background: #fcda;
    width: 60px;
    height: 15px;
    border-radius: 4px;
    left: calc(100% - 95px);
    top: 1px;
    font-size: 11px;
    transition: all 0.4s ease;
    box-shadow: 0 5px 10px #00000040;
    text-align: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
}
.code_window_details .window_btn .copied.active{
    opacity: 1;
    top: -20px;
}
.code_window_details .window_title{
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    border-bottom: solid 1px #aaa;
    transition: all 0.4s ease;
    font-size: 12px;
}
.code_window_details .window_content{
    position: relative;
    background-color: #212;
    border-radius: 12px;
    height: 50px;
    transition: all 0.2s ease;
}
.code_window_details.active .window_content{
    height: 100%;
}
.code_window_details .window_content_buf{
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: #212;
    z-index: -1;
}
.code_window_details .window_content .window_text{
    color: #fff;
    padding: 8px;
    font-size: 12px;
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 0;
}
.code_window_details.active .window_content .window_text{
    opacity: 1;
    pointer-events: auto;
    padding-top: 50px;
    line-height: 18px;
}
.code_window_details .details_btn{
    position: absolute;
    color: #000;
    background: #dfed;
    border: 1px solid #9c9;
    line-height: 22px;
    font-size: 12px;
    left: calc(50% - 70px);
    height: 40px;
    width: 150px;
    margin: 5px;
    transition: all 0.4s ease;
    opacity: 1;
    z-index: 2;
    border-radius: 10px;
}
.code_window_details .details_btn:hover{
    background: #bfc;
    box-shadow: 0 0px 15px #afae;
}
.code_window_details.active .details_btn{
    border: 1px solid #c9c;
    background: #fefd;
}
.code_window_details.active .details_btn:hover{
    background: #fcf;
    box-shadow: 0 0px 15px #fafe;
}
.code_window_details .details_btn #openClose_btn{
    position: absolute;
    color: #000;
    font-size: 25px;
    top: 17px;
    text-align: center;
    width: 100%;
    transition: all 0.4s ease;
    opacity: 1;
}
.code_window_details.active .details_btn #openClose_btn{
    transform: rotateZ(-180deg) translateY(20px);
}
.code_window_details .details_btn_text{
    text-align: center;
    opacity: 1;
    transition: all 0.4s ease;
    transform: translateY(2px)
}
.code_window_details.active .details_btn_text{
    opacity: 0;
    transform: translateY(20px)
}
.code_window_details .details_btn_text_opened{
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateY(-16px);
}
.code_window_details.active .details_btn_text_opened{
    opacity: 1;
    transform: translateY(-8px);
}


/* プログラム中の強調表示 */
.dec0{
    color : orange;
}

.dec1{
    color : cyan;
}

.dec2{
    color : #fd7f7f;
}

.dec3{
    color : #9dff76;
}

.dec4{
    color : #fdff83;
}

.dec5{
    color : #e784eb;
}

.dec6{
    color : #8d8d8d;
}

/* 折り畳み欄 */
summary {
    padding: .8rem 1.5rem;
    outline: 0;
    cursor: pointer;
    display: block;
    color: #c30d23;
    font-weight: 700;
    font-size: 17px;
    
}
details {
    background: #fafafa;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 10px;
    display: block;
}
details summary::before {
    content: none !important;
}
details summary::after {
    content: "＋";
    color: #aaaaaa;
    font-weight: 400;
    float: right;
    width: 1rem;
    text-align:center;
}
details[open] summary::after {
    content: "−";
    margin-top: -0.1rem;
}
details[open] div{
    animation: accordion 0.4s linear;
    overflow: hidden;
    border-bottom: 2px solid #eeeeee;
    padding: 1rem;
}
@keyframes accordion {
    0% {
        opacity: 0;
        height: 0;
    }
    70% {
        opacity: 0;
        height: 200px;
    }
    100% {
        opacity: 1;
    }
}

/* 一番上に行くやつ */
.tmTopBtn {
	display: inline-block;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 10px;
	background: #777;
	color: #fff;
	border-radius: 4%;
	line-height: 1.2em;
	text-align: center;
	cursor: pointer;
	z-index: 999;
    transition: all 0.4s ease;
    opacity: 0;
}
.tmTopBtn.active{
    opacity: 0.5;
}
.tmTopBtn:hover {
	opacity: 0.8;
    box-shadow: 0 5px 10px #aaffffff;
}
.tmTopBtn .bx-upvote{
    font-size: 30px;
    transition: all 0.4s ease;
    color: #fff;
}
.tmTopBtn:hover .bx-upvote{
    transform: scale(1.3) rotateZ(-360deg);
    color: #aff;
}
.tmTopBtn .topScroll_ception{
    font-size: 20px;
    font-weight	: 900s;
    transition: all 0.4s ease;
}
.tmTopBtn:hover .topScroll_ception{
    color: #aff;
}

.phpArgs{
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

/* window 追加要素 */
.window #explain{
    background: #e7ddf0;
}

/* 文章中の強調表示 */
#red_text{
    color: #a02020;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
}
#orange_text{
    color: #b56300;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
}
#blue_text{
    color: #0606f0;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
}
#red_text_bold{
    color: #a02020;
    font-weight: 900;
    font-family: 'Noto Sans JP', sans-serif;
}

a.plane{
    transition: all 0.4s ease;
    color: #50a0a0;
    text-decoration: none;
}
a.plane:hover{
    color: #f05050;
    text-shadow: 0 5px 10px #00000060;
}

.pic{
    text-align: center;
}


.window .window_title,
.code_window .window_title,
.window_details .window_btn .copy_btn,
.window_details .window_btn .copied,
.window_details .window_title,
.code_window_details .window_btn .copy_btn,
.code_window_details .window_btn .copied,
.code_window_details .window_title,
.main_content .text_content .top_title_text,
.main_content .text_content .caption_text,
.main_content .counter_content,
.main_content .title{
    user-select: none;
}
.code_window_details .details_btn{
    user-select: none;
    cursor: pointer;
    cursor: hand;
}

.code_block{
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 100;
    color: #fff;
    background: #414;
    padding: 0 15px;
    margin: 10px 0;
    border-radius: 5px;
}