body {
    font-family : Arial, Helvetica, sans-serif;
    background-color: #220120;
    background-image: url("../pic/pc.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding     : 0px;
    margin      : 0px;
}

.page {
    padding-right : 0;
    padding-bottom : 40px;
    width       : 100vw;
    position    : relative;
    top         : 120px;
    margin      : 20px 0px;
    margin-top  : 0px;
}

a{
    transition: color 0s;
}

/* タブ */
.tab {
    position    : absolute;
    display     : inline;
    top         : -1px;
    font-size   : 40px;
    width       : 100vw;
    padding-bottom: 1%;
    color       : #ffffff;
    background-color: #000000a0;
    background-size: cover;
}
.tab p{
    position    : relative;
    display     : block;
    letter-spacing: 10px;
    top         : 5px;
    font-size   : 20px;
    padding     : 0% 3%;
    margin: 0px;
    margin-top: 10px;
}
.tab a:first-of-type{
    position    : relative;
    font-size   : 17px;
    text-decoration: none;
    margin      : 0px;
    padding: 1% 3% 1.5% 3%;
    margin-left: 10px;
}
.tab a{
    position    : relative;
    font-size   : 17px;
    text-decoration: none;
    color       : #ffffff;
    margin      : 0px;
    padding: 2% 3% 1.5% 3%;
    background: linear-gradient(#ffffffa0, #ffffffa0) right bottom / 0 100% no-repeat;
	transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.tab a:hover{
    border-bottom: solid;
    border-color: white;
    /* background  : #ffffffa0; */
    background-position: left bottom;
	background-size: 100% 100%;
    color       : black;
}
.tab_now{
    border-bottom: solid;
    /* background  : #ffffffa0; */
    color       : black;
}

/* 一番上に行くやつ */
.tmTopBtn {
	display		: inline-block;
	position	: fixed;
	bottom		: 20px;
	right		: 20px;
	padding		: 14px 15px;
	background	: rgba(51, 51, 51, 0.70);
	color		: #fff;
	opacity		: 0.5;
	border-radius	: 4%;
	font-size	: 16.5pt;
	font-weight	: bold;
	line-height	: 1.2em;
	text-align	: center;
	cursor		: pointer;
	z-index		: 999;
}
.tmTopBtn:hover {
	opacity		: 0.9;
}

/* 冒頭の説明 */
.caption{
    color       : #FFFFFF;
    font-weight : bold;
    text-shadow : 
        2px  2px 1px rgba(153, 153, 153, 0.5),
        -2px  2px 1px rgba(153, 153, 153, 0.5),
        2px -2px 1px rgba(153, 153, 153, 0.5),
        -2px -2px 1px rgba(153, 153, 153, 0.5),
        2px  0px 1px rgba(153, 153, 153, 0.5),
        0px  2px 1px rgba(153, 153, 153, 0.5),
        -2px  0px 1px rgba(153, 153, 153, 0.5),
        0px -2px 1px rgba(153, 153, 153, 0.5);
    font-size   : 12px;
    letter-spacing: 3px;
    padding-left: 15px;
}
/* counter_view */
.counter_view p{
    color       : #FFFFFF;
    text-align  : left;
    font-size   : 15px;
    padding-top : 0px;
    padding-left: 10px;
    padding-right: 0px;
    margin      : 0;
    border-left : solid;
    border-width: 10px;
    border-color: #4f015e;
    letter-spacing: 2px;
    width   : 100vw;
}
/* 記事 */
.article{
    background-color: #dadadaf0;
    text-align  : center;
    padding-bottom: 10px;
}
.article p{
    text-align  : left;
    font-size   : 15px;
    padding-top : 10px;
    padding-left: 20px;
    padding-right: 0px;
    border-left : solid;
    border-width: 10px;
    border-color: #c7a511;
    letter-spacing: 2px;
}
.article p1{
    font-size   : 15px;
    color       : black;
    padding     : 10px 20px;
}
.article p2{
    font-size   : 15px;
    color       : black;
    background  : #0272b330;
    border-bottom: solid;
    padding     : 10px 35%;
}
.article section{
    text-align  : left;
    font-size   : 10px;
    color       : black;
    padding     : 0px 5px;
}
.article a{
    font-size   : 12px;
    text-decoration-style: dotted;
    color       : #00629b;
    padding     : 0px 10px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.article a::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #cd4ab28a;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
}
.article a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}
.article section > .newlink{
    font-size   : 10px;
    text-decoration: none;
}
.article a:hover{
    color: #941717;
    text-shadow: 0px 0px 20px #ffffff;
    font-weight: 900;
}

.article1{
    background-color: #dadadaf0;
    text-align  : center;
    padding-bottom: 10px;
}
.article1 p{
    text-align  : left;
    font-size   : 15px;
    padding-top : 10px;
    padding-left: 20px;
    padding-right: 10px;
    border-left : solid;
    border-width: 10px;
    border-color: #7511c7;
    letter-spacing: 2px;
}
.article1 p1{
    font-size   : 15px;
    color       : black;
    padding     : 10px 20px;
}
.article1 p2{
    font-size   : 15px;
    color       : black;
    background  : #0272b330;
    border-bottom: solid;
    padding     : 10px 35%;
}
.article1 section{
    text-align  : left;
    font-size   : 10px;
    color       : black;
    padding     : 0px 10px;
}
.article1 a{
    font-size   : 12px;
    text-decoration-style: dotted;
    color       : #00629b;
    padding     : 0px 10px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.article1 a::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #cd4ab28a;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
}
.article1 a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}
.article1 a:hover{
    color: #941717;
    text-shadow: 0px 0px 20px #ffffff;
    font-weight: 900;
}

/* .exeが入ったzipファイル */
.exezip{
    font-size   : 30px;
    text-decoration: underline;
    color       : #00629b;
    padding     : 10px 20px;
}

/* 備忘録等の更新日時 */
p_update{
    font-size   : 10px;
    text-decoration: none;
    color       : black;
    padding     : 10px 20px;
    padding-left: 0px;
}

.pic{
    text-align  : center;
}

.code{
    margin : 10px;
    padding : 10px 20px;
    font-size : 5px;
    font-family : Verdana sans-serif;
    letter-spacing : 1px;
    background-color :rgba(25, 8, 85, 0.9);
    color : white;
}

.det{
    margin : 10px;
    padding : 10px 20px;
    font-size : 10px;
    font-family : Verdana sans-serif;
    letter-spacing : 2px;
    background-color :rgba(229, 224, 247, 0.945);
    color : black;
}

.hajimeni{
    font-size : 8px;
    color : #777777
}

.a_list{
    font-size:10px;
}
.a_list > a{
    font-size: 10px;
    text-decoration:none;
}

.det > a{
    font-size : 1.2vw;
    margin: 0px;
    padding : 0px;
    font-weight: 0;
}

summary {
    padding: .4rem .5rem;
    outline: 0;
    cursor: pointer;
    display: block;
    color: #c30d23;
    font-weight: 700;
    font-size: 5px;
    
}
details {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 10px;
    display: block;
}
details summary::before {
    content: none !important;
}
details summary::after {
    content: "＋";
    color: #aaa;
    font-weight: 400;
    float: right;
    width: 1rem;
    text-align:center;
}
details[open] summary::after {
    content: "−";
    margin-top: -0.1rem;
}

details[open] div {
    animation: accordion 0.4s linear;
    overflow: hidden;
    border-bottom: 2px solid #eee;
    padding: 1rem;
}

@keyframes accordion {
    0% {
        opacity: 0;
        height: 0;
    }
    70% {
        opacity: 0;
        height: 200px;
    }
    100% {
        opacity: 1;
    }
}

/* 後ろの文字 */
.flowimg {
    position: absolute;
    padding: 0;
    overflow: hidden;
}
.flowimg::before,
.flowimg::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
    color: #00000030;
    font-size: 7vw;
    font-family: 'Marcellus', serif;
    line-height: 1.0;
    text-align: center;
    z-index: -1;
}

