body{
    /* background-color:rgb(21, 3, 21); */
    text-align: center;
}

a{
    padding: 10px 30px;
    background-image: linear-gradient(to right, #ffffffaa 50%, rgb(14, 107, 165) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s;
}
  
a:hover{
    background-position: -100% 0;
    color: #fff;
}